@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: #313131;
  font-family: "Menlo (Numbers)", "Menlo", "Helvetica", "sans-serif";
  color: white;
  font-size: 14px;
  line-height: normal;
}

#cross {
  display: inline;
  padding: 10px 525px;
}

h1 {
  color: white;
  font-size: 20px;
  line-height: 50px;
  font-weight: 60;
  text-align: center;
}

a {
  color: white;
  text-decoration: white;
}

a :hover{
  color: black;
  text-decoration: none;
}

.container {
  width: 580px;
  margin: 0 auto;
  animation: slideInFromBack 1s;
}

.img-circle {
  border-radius: 50%;
  height: 150px;
  list-style: none;
  display: inline;
  padding: 8px 100px;
}

.card-red {
  background: #B23433;
  padding: 10px 20px 20px;
  border: none;
  margin: 4px;
}

.card-picturebuddy{
  background: #B23433;
  padding: 20px 80px 10px;
  border: none;
  margin: 4px;
}

.card-lightred {
  background: #F55243;
  border-radius: 4px;
  padding: 15px 30px 30px;
  border: none;
  margin: 9px;
  text-align: left;
  line-height: 26px;
  letter-spacing: -0,5px;
}

ul li {
  list-style: none;
  display: inline;
  padding: 0px 50px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 580px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 380px;
  }

  .card-red {
    padding: 10px 10px 5px;
  }

  .card-picturebuddy{
    padding: 20px 0px 10px;
    margin: 2px;
  }

  body {
    font-size: 12px;
  }

  .card-lightred {
    line-height: 20px;
    padding: 15px 18px 20px 18px;
  }

  #cross {
    padding: 10px 340px;
  }

  ul li {
    list-style: none;
    display: inline;
    padding: 0px 28px 0px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 380px;
  }

  .card-red {
    padding: 10px 10px 5px;
  }

  .card-picturebuddy{
    padding: 20px 0px 10px;
    margin: 2px;
  }

  body {
    font-size: 12px;
  }

  .card-lightred {
    line-height: 20px;
    padding: 15px 18px 20px 18px;
  }

  #cross {
    padding: 10px 340px;
  }

  ul li {
    list-style: none;
    display: inline;
    padding: 0px 28px 0px;
  }
}

@keyframes slideInFromBack {
	0% {
		transform: translateY(-700px);
	}
	100% {
		transform: translateX(0px);
	}
}
